NVCC = /usr/local/cuda-12.3/bin/nvcc
CXX = g++

CC = gcc
LINKER = nvcc

LINKER_FLAGS = -lcudart -lcuda -lm -O3 -lgomp
CC_FLAGS = -O3 -lgomp
CXX_FLAGS = -O3 -lgomp
NVCC_FLAGS = -O3 -lgomp -gencode arch=compute_86,code=[sm_86,compute_86]
CUDA_SAMPLES_PATH_ = /home/saurabh/cuda-projects/cuda-samples

COMPILER_NAME = nvcc

CUDA_PATH = /usr/local/cuda-12.3/
CUDA_INSTALL_PATH = /usr/local/cuda-12.3